.webgl-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #231F20;
}

#gameContainer {
  width: 100% !important;
  height: 100% !important;
  max-width: 960px;
  max-height: 600px;
}

.logo, .progress {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  background: url('progressLogo.Light.png') no-repeat center / contain;
  width: 154px;
  height: 130px;
}

.progress {
  width: 141px;
  height: 18px;
  margin-top: 90px;
}

.full {
  background: #fff;
  height: 100%;
}
